
body {
  font-family: "Montserrat", sans-serif;
}
/* Import de la font Roboto depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Appliquer la font au body */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

/* Style spécifique pour les titres */
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  color: #2c3e50;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

/* Styles individuels pour chaque niveau de titre */
h1 {
  font-size: 2.5rem;
  border-bottom: 3px solid #2980b9;
  padding-bottom: 0.3em;
}

h2 {
  font-size: 2rem;
  border-left: 5px solid #3498db;
  padding-left: 0.5em;
  margin-top: 1.5em;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #34495e;
  margin-top: 1em;
}
